$sidebar-bg-color: #fff !default;
$sidebar-color: #333 !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #999 !default;
$submenu-bg-color: #eee !default;
$submenu-bg-color-collapsed: #ddd !default;
$icon-bg-color: fff !default;
$icon-size: 35px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
